h1 {
    text-align: center;
    position: relative;
    top: 100px;
    animation-name:moveInRight;
    animation-duration:4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes moveInRight {
    from{transform: translateX(500px);}
    to{transform:translateX(0)}    
}

.sanjar {
    background-image: url(img.png);
    width: 1000px;
    height: 1000%;
    background-repeat: no-repeat;
    
   
}
.btn {
    background-color: red;
    position: relative;
    top: 200px;
    left: 400px;
    width: 50px;
    padding:12px 20px ;
    text-decoration: none;
    color: white;
    animation-name: identifier;
    animation-duration:  4s; 
    animation-timing-function: linear;
    display: flex;
    animation-iteration-count: infinite;

   
}
@keyframes identifier {
    from{transform: translateY(300px);}
    to{transform: translateY(0);}
}

p {
    color: wheat;
    position: relative;
    top: 100px;
    left: 300px;
    animation-name: sardor;
    animation-duration:4s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes sardor {
    from{transform:translateX(-300px);}
    to{transform: translateX(0);}
      
}